package domain

import (
	"github.com/eduardonunesp/cleanarchgo/pkg/domain/valueobject"
)

type {{.EntityName}} struct {
	ID string
}

func (e *{{.EntityName}}) ID() valueobject.ID {
	return valueobject.ID()
}
