package service

import (
	"testing"

	"github.com/stretchr/testify/suite"
)

func Test{{.ServiceName}}(t *testing.T) {
	suite.Run(t, new(test{{.ServiceName}}Suite))
}

type test{{.ServiceName}}Suite struct {
	suite.Suite
	// Mocks goes here
	mock    *test.MockSomething
	useCase *{{.ServiceName}}
}

func (s *test{{.ServiceName}}Suite) SetupTest() {
	// Mocks goes here
	s.mock = test.MockSomething(s.T())
	s.useCase = New{{.ServiceName}}(s.mock)
}

func (s *test{{.ServiceName}}Suite) Test{{.ServiceName}}Success() {
	// Test goes here
}
