package service

type {{.ServiceName}}Params struct {
    // Params goes here
}

type {{.ServiceName}}Result struct {
    // Result goes here
}

type {{.ServiceName}} struct {
    // Dependencies goes here
}

func New{{.ServiceName}}() *{{.ServiceName}} {
    return &{{.ServiceName}}{}
}

func (s {{.ServiceName}}) Execute(input *{{.ServiceName}}Params) (*{{.ServiceName}}Result, error) {
	return nil, nil
}
